@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {

  background-image: url('../images/Textured background .png');
}

h1 {
  margin-bottom: 1px;
}

h2 {
  margin-top: 1px;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.title2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}



.container {
  display: flex;
  align-content: flex-start;
  height: 100%;
  width: 90%;


}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 90%;
  width: 45%;

}

.column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
  height: 90%;
  width: 45%;

}


.trex {

  height: 60%;

  position: absolute;
  left: 5%;
  bottom: 5%;
  z-index: -1;
}

.trex2 {

  height: 60%;

  position: absolute;
  left: 5%;
  bottom: 5%;
  z-index: -1;
}

.scorebox {
  background-color: #5ac93e;
  height: 62px;
  width: 125px;
  position: absolute;
  right: 10%;
  bottom: 142px;
  border-radius: 15px;
  opacity: 75%;

  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
}

.chancebox {
  background-color: #47a32f;
  height: 62px;
  width: 125px;

  position: absolute;
  right: 10%;
  bottom: 70px;

  border-radius: 15px;
  opacity: 75%;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  color: white;
}

.plate {

  display:flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 190px;
  height: 90px;
  background-color: #cccac4;
  border-radius: 95px / 45px;
  font-size: 1px;
  color: #cccac4;
  border: solid #2a3757
  position: absolute;
  left: 175px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.drumstick {
  height: 40%;

}

.card {
  background-color: white;
  height: 100px;
  width: 140px;
  position: relative;
  top: 10px;
  left: 20px;
  border-radius: 40%;
  padding-top: 15px;
  text-align: center;
  font-family: Fredoka One, sans-serif;
  font-size: 65px;
  color: #fc6b03;
}

.triangle {
  position: relative;
  left: 95px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 1px solid transparent;
  border-top: 50px solid white;
  z-index: -1;
}

footer {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 1%;
  right: 10%

}

footer > button {

  margin-left: auto;
  margin-right: auto;
  width: 90px;
  height: 30px;

  background: #fc6b03;
  border-radius: 15%;
  color: white

}
