h1 {
  justify-content: center;
}

div {

  border: solid black;
}

.container {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 700px;
  width: 90%;


}

.column-left, .column-right {
  height: 90%;
  width: 45%;

}

.plate {
  display:flex;
  justify-content: space-evenly;
  height: 100px;
  width: 100px;
  background-color: green
}

.drumstick {
  height: 10px;
  width: 10px;
  background-color: blue
}

.card {
  height: 200px;
  width: 200px;
  text-align: center;
}
