body {
  background-image: url('../images/Textured background .png');
}

h1 {
  margin-bottom: 1px;
}

h2 {
  margin-top: 1px;
}

h1 > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

h2 > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.container {

  height: 100%;
  width: 90%;


}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float:left;
  height: 90%;
  width: 45%;

}

.column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
  height: 90%;
  width: 45%;

}


.trex {

  height: 60%;

  position: absolute;
  left: 5%;
  bottom: 5%;
  z-index: -1;
}

.trex2 {

  height: 60%;

  position: absolute;
  left: 5%;
  bottom: 5%;
  z-index: -1;
}

.scorebox {
  background-color: #5ac93e;
  height: 62px;
  width: 125px;
  position: absolute;
  right: 10%;
  bottom: 162px;

  border-radius: 15px;
  opacity: 75%;
  text-align: center;
  color: white;
}

.chancebox {
  background-color: #47a32f;
  height: 62px;
  width: 125px;
  position: absolute;
  right: 10%;
  bottom: 90px;

  border-radius: 15px;
  opacity: 75%;
  text-align: center;
  color: white;
}

.plate {

  display:flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 190px;
  height: 90px;
  background-color: #cccac4;
  border-radius: 95px / 45px;
  font-size: 1px;
  color: #cccac4;
  border: solid #2a3757
  position: absolute;
  left: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.drumstick {
  height: 40%;
  /* width: 20px; */
  /* background-color: blue */
}

.card {
  height: 50px;
  width: 100px;
  border: solid black;


}

footer {

  position: absolute;
  bottom: 1%;
  right: 10%

}

button {
  width: 90px;
  height: 30px;
  background: #fc6b03;
  border-radius: 15%;
  color: white
}
