h1 {
  justify-content: center;
}

div {

  border: solid black;
}

.container {

  height: 700px;
  width: 90%;


}

.column-left, .column-right {
  display: flex;
  flex-direction: column;
  float:left;
  height: 90%;
  width: 45%;

}

.trex {
  background-color: lightgreen;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 30px;
  top: 500px;
  /* z-index: 1; */
}

.scorebox {
  background-color: lavender;
  height: 62px;
  width: 125px;
  position: absolute;
  right: 175px;
  bottom: 162px
}

.chancebox {
  background-color: yellow;
  height: 62px;
  width: 125px;
  position: absolute;
  right: 175px;
  bottom: 100px
}

.plate {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 150px;
  width: 150px;
  background-color: green;
  color: green;

}

.drumstick {
  height: 10px;
  width: 10px;
  background-color: blue
}

.card {
  height: 200px;
  width: 200px;
  text-align: center;
}
